doctype html
html(lang='pl')
    head
        meta(charset='UTF-8')
        title Twój koszyk!
        link(rel="stylesheet",href="./css/style.css")
        link(rel="stylesheet",href="./css/bootstrap.min.css")
    body
        div.container
            div.row.align-items-start
                div.col
                    div#cart
                        if cart
                            h2.text-center Twój Koszyk
                            - var suma = 0
                            each item in cart
                                - suma+=item.price
                                div.item
                                    img.imgCart(src='./images/menu/' + item.images)
                                    span.restaurant Restauracja: #{item.restaurationId}
                                    span.name Danie: #{item.foodId}
                                    if item.sauce
                                        span.sauce Sos: #{item.sauce}
                                    if item.meat
                                        span.meat Mięso: #{item.meat}
                                    span.price Cena: #{item.price} PLN
                            div.summary
                                form#frm(action="/makeOrder", method="POST")
                                    div.price Łączna cena zamówienia: #{suma} PLN
                                    textarea#bodyCart(form='frm', name='bodyCart')= JSONCart
                                    input#makeOrder.cartBtn(type='submit', value="Złóż zamówienie")
                        else
                            h1.text-center Twój koszyk jest pusty!
                div.col
                    div
                        h2.text-center Dane do dostawy
                        if user
                            div.item
                                span.name Miejscowość: #{user.adressCity}
                                span.name Ulica: #{user.adressStreet}
                                span.name Numer budynku: #{user.adressNumber}
                                if user.adressLocal
                                    span.name Numer mieszkania: #{user.adressLocal}
                        else
                            div.item
                                Zaloguj się aby złożyć zamówienie!